body .header .items .active,
html .header .items .active {
    color: #ff5400;
    border-bottom: 2px solid #ff5400 !important;
}
body .header .items .b-active,
html .header .items .b-active {
    border-bottom: 2px solid transparent;
}
.enter {
    color: #FF5400;
    text-align: right;
    font-family: IRANSans;
    font-size: 9.5px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}