@font-face {
  font-family: IranSans;
  src: url("../Fonts/iransans/IRAN Sans.ttf"); }

body,
html {
  width: 100%;
  height: 100%;
  font-family: IranSans;
  background: #f8f9fa;
  background: #f8f9fa !important; }
  body *,
  html * {
    backface-visibility: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box; }
  body img,
  html img {
    width: 100%;
    height: auto;
    display: block; }
  body ul,
  html ul {
    list-style: none;
    padding: 0; }
  body input,
  html input {
    border: none;
    outline: none;
    background: transparent; }
  body a,
  html a {
    text-decoration: none;
    color: inherit; }
  body button,
  html button {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent; }
  body p,
  html p {
    margin-bottom: 0; }
  body::-webkit-scrollbar,
  html::-webkit-scrollbar {
    width: 0; }
  body::-webkit-scrollbar-thumb,
  html::-webkit-scrollbar-thumb {
    width: 0; }
  body::-webkit-scrollbar-track,
  html::-webkit-scrollbar-track {
    width: 0; }

input:not([type=checkbox]) {
  padding-right: 10px !important;
  height: 42px; }

p {
  margin-bottom: 0 !important; }

a:hover {
  color: inherit !important; }

.fs-small-100 {
  font-size: 12px; }

.fs-medium {
  font-size: 17px; }

.h-100vh {
  height: 100vh; }

.h-auto {
  height: auto; }

.h-md-auto {
  height: 100% !important; }
  @media (min-width: 768px) {
    .h-md-auto {
      height: auto !important; } }

.no-data {
  width: 46px; }

.rounded-8 {
  border-radius: 8px; }

.rounded-16 {
  border-radius: 16px; }

.rounded-24 {
  border-radius: 24px; }

.c-gray {
  color: #bebeca; }

.c-gray-100 {
  color: #f2ece6; }

.c-gray-200 {
  color: #bcb6b0; }

.c-gray-dark {
  color: #a1a5b7; }

.c-gray-dark2 {
  color: #aca5bb; }

.c-gray-dark3 {
  color: #7e8299; }

.c-pink {
  color: #f86068; }

.c-gray-800 {
  color: #505050; }

.c-gray-900 {
  color: #2f2942; }

.c-orange {
  color: #ff5400; }

.bg-orange {
  background: #ff5400 !important; }

.bg-green {
  background: #1ee579 !important; }

.bg-gray {
  background: #f9f9f9 !important; }

.bg-gray-500 {
  background: #f7f9fb !important; }

.bg-white {
  background: #fff !important; }

.bg-input {
  background: #f9f9f9; }

.border-t-gray {
  border-top: 1px solid #f4f4f4; }

.border-b-gray {
  border-bottom: 1px solid #f4f4f4; }

.c-white {
  color: white; }

.mx-auto {
  margin: 0 auto; }

img[src="refresh-icon.svg"] {
  transition: all 0.7s ease-in-out; }

.hide {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out; }

.show {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease-in-out; }

.overflow-x-scroll {
  overflow-x: scroll;
  overflow-y: visible; }
  @media (min-width: 1200px) {
    .overflow-x-scroll {
      overflow-x: visible; } }

.overflow-y-scroll {
  overflow-y: scroll;
  overflow-x: visible; }
  @media (min-width: 1200px) {
    .overflow-y-scroll {
      overflow-y: visible; } }

.btn-primary-nahira {
  background: #ff5400;
  padding: 0.75rem 1.5rem;
  color: #fff;
  border-radius: 1rem;
  font-size: 12px; }

.btn-secondary-nahira {
  border-radius: 1rem;
  background: rgba(255, 84, 0, 0.15);
  padding: 0.75rem 1.5rem;
  color: #ff5400;
  font-size: 12px; }

@media (min-width: 992px) {
  .card-container {
    max-height: 312px; } }

.item-container {
  background: #fff; }

.border-table {
  width: 5px;
  height: 50px;
  border-radius: 9999999px; }

.bg-dark {
  position: fixed;
  top: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  z-index: 50;
  visibility: hidden;
  transition: all 0.3s ease-in-out; }

.container-nahira {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  margin-top: 350px; }
  @media (min-width: 576px) {
    .container-nahira {
      margin-top: 278px;
      left: 4%; } }
  @media (min-width: 768px) {
    .container-nahira {
      margin-top: 280px; } }
  @media (min-width: 992px) {
    .container-nahira {
      margin-top: 190px; } }
  @media (min-width: 1200px) {
    .container-nahira {
      margin-top: 150px; } }

.err-input {
  font-size: 12px;
  color: #c43d4b; }

#input-search-header {
  min-width: 250px; }

header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #7e7771;
  min-height: 200px; }
  header .field-header .d-field-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #8c8c8c;
    height: 50px; }
    header .field-header .d-field-header.w-54 {
      width: 54px; }
    header .field-header .d-field-header img {
      width: 26.14px; }
    header .field-header .d-field-header input {
      color: #f2ece6a6; }
      header .field-header .d-field-header input::placeholder {
        color: #f2ece6a6; }
  header .navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: none; }
    @media (max-width: 568px) {
      header .navigation-icon {
        display: inline; } }

.side-bar {
  position: fixed;
  top: 0;
  right: 0;
  content: "";
  background: #fff;
  transition: all 0.3s ease-in;
  z-index: 100; }
  .side-bar::-webkit-scrollbar {
    width: 0px; }
  .side-bar::-webkit-scrollbar-thumb {
    width: 0px; }
  .side-bar::-webkit-scrollbar-track {
    width: 0px; }
  @media (max-width: 568px) {
    .side-bar {
      right: -100%; } }
  .side-bar .item-sidebar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 1rem;
    cursor: pointer; }
    .side-bar .item-sidebar img {
      width: 28px; }
    .side-bar .item-sidebar.active-item-sidebar {
      background: #ff5400 !important; }
      .side-bar .item-sidebar.active-item-sidebar .img-dark-item-sidebar {
        display: none; }
      .side-bar .item-sidebar.active-item-sidebar .img-light-item-sidebar {
        display: block; }
    .side-bar .item-sidebar .img-light-item-sidebar {
      display: none; }
    .side-bar .item-sidebar .dropdown-item-sidebar {
      position: absolute;
      top: 0;
      right: 145%;
      content: "";
      white-space: nowrap;
      z-index: 100000;
      display: none; }
      @media (max-width: 768px) {
        .side-bar .item-sidebar .dropdown-item-sidebar {
          right: 108%; } }
      .side-bar .item-sidebar .dropdown-item-sidebar ul {
        list-style: disc;
        padding-right: 1.5rem; }
        .side-bar .item-sidebar .dropdown-item-sidebar ul li {
          color: #7e7771; }
          .side-bar .item-sidebar .dropdown-item-sidebar ul li img:nth-child(2) {
            display: inline; }
          .side-bar .item-sidebar .dropdown-item-sidebar ul li img:nth-child(1) {
            display: none; }
          .side-bar .item-sidebar .dropdown-item-sidebar ul li:hover {
            color: #ff5400; }
            .side-bar .item-sidebar .dropdown-item-sidebar ul li:hover img:nth-child(1) {
              display: inline; }
            .side-bar .item-sidebar .dropdown-item-sidebar ul li:hover img:nth-child(2) {
              display: none; }
      .side-bar .item-sidebar .dropdown-item-sidebar img {
        width: 17px; }

.sign-up-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (min-width: 768px) {
    .sign-up-container {
      height: auto;
      border-radius: 16px; } }

.err-form-signin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid #c43d4b;
  color: #c43d4b;
  position: absolute;
  top: 10px;
  left: 120%;
  width: 250px;
  font-size: 14px;
  border-radius: 8px;
  background: rgba(255, 84, 0, 0.15);
  transition: all 0.2s ease-in-out; }
  @media (max-width: 768px) {
    .err-form-signin {
      top: 85%;
      left: 100%;
      height: 100px;
      width: 100%;
      height: 15%;
      border-radius: 8px 8px 0 0; } }

@keyframes err-card-desktop {
  0% {
    left: 110%; }
  65% {
    left: 10px; }
  80% {
    left: 50px; }
  100% {
    left: 10px; } }

@keyframes err-card-mobile {
  0% {
    left: 100%; }
  100% {
    left: 0; } }
  .err-form-signin img {
    cursor: pointer; }

.data-table .data-dropdown > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 16px;
  background: rgba(255, 84, 0, 0.15);
  color: #ff5400;
  width: 100px;
  padding: 0.5rem 1.5rem; }

.data-table .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%);
  border-radius: 16px;
  background: #fff;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.05);
  color: #7e829b;
  z-index: 10; }
  .data-table .dropdown div {
    padding: 1rem; }

.personel-list .table-personel img {
  width: 62px;
  height: 64px; }

.personel-list #input-search-personel {
  padding-right: 50px !important; }

.personel-list .icon-serch-input {
  top: 17px;
  right: 10px;
  width: 24px; }

.li-reported {
  border-bottom: 1px solid transparent;
  padding-bottom: 0.75rem;
  cursor: pointer;
  white-space: nowrap; }

.active-li {
  border-bottom: 2px solid #ff5400;
  color: #ff5400; }

.select-month {
  outline: none;
  border: none;
  background-color: #f4f4f4;
  height: 42px;
  border-radius: 8px; }

.modal-shift-manager {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  z-index: 300;
  max-width: 1000px; }
  @media (min-width: 768px) {
    .modal-shift-manager {
      height: 90%;
      border-radius: 16px; } }

body .header .items .active,
html .header .items .active {
  color: #ff5400;
  border-bottom: 2px solid #ff5400 !important; }

body .header .items .b-active,
html .header .items .b-active {
  border-bottom: 2px solid transparent; }

.enter {
  color: #FF5400;
  text-align: right;
  font-family: IRANSans;
  font-size: 9.5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; }

.positionCostume {
  position: absolute;
  width: 100%;
  top: 100%;
  right: 0;
  z-index: 10000;
  display: none;
  cursor: pointer;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.25);
  color: #7E829C;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; }

.shift-information table {
  font-size: 12px; }

.shift-information [data-value-month] {
  width: 80px; }
