.personel-list {
    .table-personel {
        img {
            width: 62px;
            height: 64px;
        }
    }
    #input-search-personel {
        padding-right: 50px !important;
    }
    .icon-serch-input {
        top: 17px;
        right: 10px;
        width: 24px;
    }
}
