.Services {
    padding-top: 100px;
    margin-bottom: 80px !important;
    position: relative;
    
    p {
        margin-bottom: 0;
        text-align: justify;
    }
    @media (max-width: 576px) {
        margin: 0 10px;
        width: calc(100% - 20px);
    }
    h3 {
        font-size: 20px !important;

        @media (min-width: 768px) {
            font-size: 32px !important;
        }
    }
    .container-video {
        border-radius: 24px;
        background: #e6eaee;
        box-shadow: 2px 4px 24px 0px rgba(40, 48, 102, 0.25);
        // padding: 6px;
        position: relative;
        @media (min-width: 768px) {
            // padding: 16px 18px 16px 23px;
        }
        .border-dashed {
            border: 2px dashed $primary-color;
            border-radius: 24px;
            position: absolute;
            left: 0;
            width: calc(100% - 12px);
            height: calc(100% - 12px);
            top: 0;
            margin: 6px;
            @media (min-width: 768px) {
                margin: 16px 18px 16px 23px;
                width: calc(100% - 41px);
                height: calc(100% - 32px);
            }
        }
        .img {
            // width: 100%;
            img {
                width: 100%;
                border-radius: 24px;
                @media (min-width: 992px) {
                    border-radius: 0;
                }
            }
        }
        .video {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 20px 0 30px 0;
            .btn-play{
                cursor: pointer;
                position: relative;
                z-index: 10
            }
            div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                p {
                    font-size: 26px;
                    font-weight: 700;
                    @media (min-width: 992px) {
                        font-size: 36px;
                    }
                }
                span {
                    margin-right: 10px;
                    @media (min-width: 992px) {
                        font-size: 24px;
                    }
                }
            }
            img {
                width: 50px;
                @media (min-width: 992px) {
                    width: auto;
                }
            }
        }
    }
    .matn-services {
        position: relative;
        .square2 {
            right: -80px;
            top: 80%;
        }
        .square3 {
            left: -2%;
            top: -6%;
        }
        .square4 {
            right: -8%;
            top: -10%;
        }
        p {
            line-height: 28px;
            color: $color-p;
            font-size: 16px;
            @media (min-width: 768px) {
                line-height: 31.3px;
                color: $color-p;
                font-size: 20px;
            }
        }
        img {
            position: absolute;
            top: 20px;
            left: 40px;
            width: 50px;
            @media (min-width:992px) {
                width: auto;
            }
        }
    }
    .card-services {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 48px 0;
        position: relative;

        .bg-card-sevices {
            position: absolute;
            right: -119px;
            top: 0;
            z-index: -1;
            width: 20rem;
            height: 100%;
            background-color: $primary-color;
            border-radius: 24px 0 0 24px;
            @media (min-width: 576px) {
                width: 75%;
            }
            p {
                position: absolute;
                bottom: 2rem;
                right: 8rem;
                color: #fff;
                font-size: 12px;
                width: 60px;
                text-align: center;
                @media (min-width: 768px) {
                    width: auto;
                    font-size: 18px;
                    right: 6rem;
                }
                @media (min-width: 992px) {
                    width: auto;
                    font-size: 22px;
                    right: 6rem;
                    bottom: 5rem;
                }
            }
            .circle{
                position: absolute;
                z-index: -1;
            }
            .circle1{
                top: 0px;
                right: 30px;
            }
            .circle2{
                top: 45px;
                right: 80px;
            }
            .circle3{
                top: 20px;
                right: 85px;
            }
            @media (min-width:870px) {
                .circle1{
                    top: 40px;
                    right: 0px;
                }
                .circle2{
                    top: 95px;
                    right: 50px;
                }
                .circle3{
                    top: 60px;
                    right: 55px;
                }
            }
        }
        .arrow-card {
            position: absolute;
            top: -100px;
            left: -30px;
            width: 120px !important;
            @media (min-width: 992px) {
                width: 280px !important;
                top: -120px;
                left: 0;
            }
        }
        .img {
            // width: 747px;
            width: 20rem;
            margin-right: 70px;
            @media (min-width: 576px) {
                width: 60%;
            }
            img {
                width: 100%;
            }
        }
    }
    .square {
        position: absolute;
        width: 56px;
        height: 56px;
        z-index: -1;
    }
    .square1 {
        left: -40%;
        bottom: 30%;
    }
   
}
.modal-services {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 100000;
    // display: none;
    transition: all 0.4s ease-in-out;
    .bg-dark-modal{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2) ;
        z-index: -1;
    }
    .box-modal {
        position: absolute;
        left: 50%;
        top: 50%;

        padding: 8px;
        background: #fff;
        border: 1px dashed $primary-color;
        transform: translate(-50%, -50%);
        border-radius: 8px;
        max-width: 1000px;
        width: 90%;
        @media (min-width: 992px) {
            border-width: 2px;
        }
        img {
            width: 100%;
        }
        img[src$="svg"] {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
            width: 15%;
            cursor: pointer;
        }
    }
}

