$font-size-default:16px;

$main-menu-item-height: 110px;
$main-menu-width: 120px;
$main-menu-width-lg: 400px;
$main-menu-width-md: 350px;
$main-menu-width-xs: 0;

$main-page-sidebar-width: 350px;
$main-page-sidebar-lg: 400px;
$main-page-sidebar-md: 400px;
$main-page-sidebar-xs: 400px;

$user-dasboard-sidebar-width: 281px;
$user-dasboard-sidebar-width-lg: 281px;
$user-dasboard-sidebar-width-md: 281px;
$user-dasboard-sidebar-width-xs: 281px;

$sub-menu-width: 230px;
$sub-menu-width-lg: 230px;
$sub-menu-width-md: 230px;
$sub-menu-width-xs: 230px;

$input-menu-width: 22%;
$input-menu-width-lg: 22%;
$input-menu-width-md: 22%;
$input-menu-width-xs: 22%;



$navbar-height: 100px;
$navbar-height-xs: 100px;
$navbar-height-md: 100px;
$navbar-height-lg: 100px;

$navbar-mobile-height: 56px;
$navbar-mobile-height-xs: 56px;
$navbar-mobile-height-md: 56px;
$navbar-mobile-height-lg: 56px;

$main-margin: 60px;
$main-margin-lg: 50px;
$main-margin-md: 40px;
$main-margin-xs: 15px;

$app-menu-width: 280px;
$main-menu-item-height-mobile: 90px;

$menu-collapse-time: 300ms;
$animation-time-long: 1000ms;
$animation-time-short: 200ms;

$border-radius: 0.1rem;
$border-radius-rounded: 0.75rem;

// Colors
$theme-color-1: #fff;
$theme-color-2: #292D3280;
$theme-color-3: #A48A3940;
$theme-color-4: #2f55d4;

$text-color-1: #000000BF;
$text-color-2: #fff;

$primary-color: #283066;
$secondary-color: #A48A39;
$muted-color: #eaebf0;

$border-color: #283066;

$color-p:#303030CC;

// $gradient-color-1 : #39addf;
// $gradient-color-2 : #318CE7;
// $gradient-color-3 : #2e98c5;

// $lp-bg-color-1 : #006894;
// $lp-bg-color-2 : #007fb6;
// $lp-bg-color-3 : #37b9f1;
// $lp-bg-color-4 : #56c4f3;

$info-color: #3195a5;
$success-color: #3e884f;
$warning-color: #b69329;
$error-color: #c43d4b;
