footer.ana-footer {
    padding: 20px 0;

    .logo-container {
        padding: 5px 40px;
        background: white;
        width: 200px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .logo-container img {
        width: 100%;
        height: 100%;
    }
    .footer-item {
        margin-top: 45px !important;
        color: $secondary-color !important;
        h5{
        color: $secondary-color !important;
        }
        ul{
            li{
                a{
                    color: inherit;
                }
            }
        }
    }

    .foo-col{

            max-width: calc(100% - 210px);
            .row {
                width: 100%;
            }
            @media (max-width: 576px) {
                padding: 0 15px !important;
                margin: 0 10px !important;
                max-width: unset !important;
            }
    }
    
}
