header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $nahira-secondary;
    min-height: 200px;
    .field-header {
        .d-field-header {
            @include flex();
            background: #8c8c8c;
            height: 50px;
            &.w-54 {
                width: 54px;
            }
            img {
                width: 26.14px;
            }
            input {
                color: #f2ece6a6;
                &::placeholder {
                    color: #f2ece6a6;
                }
            }
        }
    }
    .navigation-icon {
        @include Position();
        display: none;
        @media (max-width:568px) {
            display: inline;
        }
    }
}
