.ana-header-container {
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.25);
    ul.navigation-menu {
        justify-content: flex-start !important;
    }
    .logo-container {
        width: 75px;
        height: 75px;
        a {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
