@font-face {
    font-family: IranSans;
    // src: url("../Fonts/IranianSans.ttf");
    src: url("../Fonts/iransans/IRAN Sans.ttf");
}

body,
html {
    @include ResetAll;
    font-family: IranSans;
    background: $bg-primary;
    background: #f8f9fa !important;
    &::-webkit-scrollbar {
        width: 0;
    }
    &::-webkit-scrollbar-thumb {
        width: 0;
    }
    &::-webkit-scrollbar-track {
        width: 0;
    }
}

input:not([type=checkbox]) {
    padding-right: 10px !important;
    height: 42px;
}
p {
    margin-bottom: 0 !important;
}
a {
    &:hover {
        color: inherit !important;
    }
}
.fs-small-100{
    font-size: 12px;
}
.fs-medium{
    font-size: 17px;
}
.h-100vh {
    height: 100vh;
}
.h-auto {
    height: auto;
}
.h-md-auto {
    height: 100% !important;
    @media (min-width: 768px) {
        height: auto !important;
    }
}
.no-data{
    width: 46px;
}
.rounded-8 {
    border-radius: 8px;
}
.rounded-16 {
    border-radius: 16px;
}
.rounded-24 {
    border-radius: 24px;
}
.c-gray {
    color: #bebeca;
}
.c-gray-100 {
    color: #f2ece6;
}
.c-gray-200 {
    color: #bcb6b0;
}
.c-gray-dark {
    color: #a1a5b7;
}
.c-gray-dark2 {
    color: #aca5bb;
}
.c-gray-dark3 {
    color: #7e8299;
}
.c-pink {
    color: $pink;
}
.c-gray-800 {
    color: $gray-800;
}
.c-gray-900 {
    color: $gray-900;
}
.c-orange {
    color: $nahira-primary;
}
.bg-orange {
    background: #ff5400 !important;
}
.bg-green {
    background: #1ee579 !important;
}
.bg-gray {
    background: #f9f9f9 !important;
}
.bg-gray-500 {
    background: #f7f9fb !important;
}
.bg-white {
    background: #fff !important;
}
.bg-input {
    background: #f9f9f9;
}
.border-t-gray {
    border-top: 1px solid #f4f4f4;
}
.border-b-gray {
    border-bottom: 1px solid #f4f4f4;
}
.c-white {
    color: white;
}
.mx-auto {
    margin: 0 auto;
}
img[src="refresh-icon.svg"] {
    transition: all 0.7s ease-in-out;
}

.hide {
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}
.show {
    opacity: 1;
    visibility: visible;
    transition: all 0.4s ease-in-out;
}
.overflow-x-scroll {
    overflow-x: scroll;
    overflow-y: visible;
    
    @media (min-width: 1200px) {
        overflow-x: visible;
    }
}
.overflow-y-scroll {
    overflow-y: scroll;
    overflow-x: visible;
    @media (min-width: 1200px) {
        overflow-y: visible;
    }
}
.btn-primary-nahira {
    background: $nahira-primary;
    padding: 0.75rem 1.5rem;
    color: #fff;
    border-radius: 1rem;
    font-size: 12px;
}
.btn-secondary-nahira {
    border-radius: 1rem;
    background: rgba(255, 84, 0, 0.15);
    padding: 0.75rem 1.5rem;
    color: $nahira-primary;
    font-size: 12px;
}
.card-container {
    @include Media("laptop") {
        max-height: 312px;
    }
}

.item-container {
    background: #fff;
}

.border-table {
    width: 5px;
    height: 50px;
    border-radius: 9999999px;
}
.bg-dark {
    @include Position(fixed, 0, 0, "");
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    z-index: 50;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.container-nahira {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    margin-top: 350px;
    @media (min-width: 576px) {
        margin-top: 278px;
        left: 4%;
    }
    @media (min-width: 768px) {
        margin-top: 280px;
    }
    @media (min-width: 992px) {
        margin-top: 190px;
    }
    @media (min-width: 1200px) {
        margin-top: 150px;
    }
}
.err-input {
    font-size: 12px;
    color: $error-color;
}

#input-search-header{
    min-width: 250px;
}
.btn-toggle-down {
    left: 10px;
    top: 45px;
    width: 17px;
}
//-----------------------------------------------------------------------------------------------------------//
