.sign-up-container {
    @include Center;
    @media (min-width: 768px) {
        height: auto;
        border-radius: 16px;
    }
}
.err-form-signin {
    @include flex(row, space-between, center);
    padding: 1rem;
    border: 1px solid $error-color;
    color: $error-color;
    position: absolute;
    top: 10px;
    left: 120%;
    width: 250px;
    font-size: 14px;
    border-radius: 8px;
    background: rgba(255, 84, 0, 0.15);
    transition: all 0.2s ease-in-out;
    @media (max-width: 768px) {
        top: 85%;
        left: 100%;
        height: 100px;
        width: 100%;
        height: 15%;
        border-radius: 8px 8px 0 0;
    }
    @keyframes err-card-desktop {
        0% {
            left: 110%;
        }
        65% {
            left: 10px;
        }
        80% {
            left: 50px;
        }
        100% {
            left: 10px;
        }
    }
    @keyframes err-card-mobile {
        0% {
            left: 100%;
        }
        100% {
            left: 0;
        }
    }
    img {
        cursor: pointer;
    }
}
