$font-size-default: 16px;

$main-menu-item-height: 110px;
$main-menu-width: 120px;
$main-menu-width-lg: 400px;
$main-menu-width-md: 350px;
$main-menu-width-xs: 0;

$main-page-sidebar-width: 350px;
$main-page-sidebar-lg: 400px;
$main-page-sidebar-md: 400px;
$main-page-sidebar-xs: 400px;

$user-dasboard-sidebar-width: 281px;
$user-dasboard-sidebar-width-lg: 281px;
$user-dasboard-sidebar-width-md: 281px;
$user-dasboard-sidebar-width-xs: 281px;

$sub-menu-width: 230px;
$sub-menu-width-lg: 230px;
$sub-menu-width-md: 230px;
$sub-menu-width-xs: 230px;

$input-menu-width: 22%;
$input-menu-width-lg: 22%;
$input-menu-width-md: 22%;
$input-menu-width-xs: 22%;

$navbar-height: 100px;
$navbar-height-xs: 100px;
$navbar-height-md: 100px;
$navbar-height-lg: 100px;

$navbar-mobile-height: 56px;
$navbar-mobile-height-xs: 56px;
$navbar-mobile-height-md: 56px;
$navbar-mobile-height-lg: 56px;

$main-margin: 60px;
$main-margin-lg: 50px;
$main-margin-md: 40px;
$main-margin-xs: 15px;

$app-menu-width: 280px;
$main-menu-item-height-mobile: 90px;

$menu-collapse-time: 300ms;
$animation-time-long: 1000ms;
$animation-time-short: 200ms;

$border-radius: 0.1rem;
$border-radius-rounded: 0.75rem;


// Colors
$bs-orange-10: #2b0e00;
$bs-orange-9: #551c00;
$bs-orange-8: #802a00;
$bs-orange-7: #aa3800;
$bs-orange-6: #d54600;
$bs-orange-5: #f54000;
$bs-orange-4: #ff7633;
$bs-orange-3: #ff9866;
$bs-orange-2: #ffbb99;
$bs-orange-1: #ffddcc;

$nahira-primary: #ff5400;
$nahira-secondary: #7e7771;

$bg-primary: #f8f9fa;

$white: #fff;
$black: #000;

$brown: #ff540026;

$pink: #f86068;

$gray-800: #505050;
$gray-900: #2f2942;
$info-color: #3195a5;
$success-color: #3e884f;
$warning-color: #b69329;
$error-color: #c43d4b;
